{% extends 'base_template.html' %}


{% block head %}
  <style>
  .clickable-row:hover {
    cursor: pointer;
  }


  .subtitle {
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "Pragmatica", arial;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    }

  .subsubtitle {
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-family: "Pragmatica", arial;
    color: black;
    padding-top: 20px;
    }

  .information {
    margin: auto;
    text-align: center;
    font-size: 18px;
    font-family: "Pragmatica", arial;
    color: black;
    }



  .link-button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font-size: 28px;
    font-family: "Pragmatica", arial;
    cursor: pointer;
  }
  .link-button:hover {
    color: #0645AD;
    text-decoration-line: underline;
  }


  
  
  </style>
{% endblock %}


{% block body %}
<div class = pagetitle>
    {{ location }} {{ name }}
</div>
<div class = context>
  <div class = row>
    <div class = "col-1"></div>
    <div class = "col-6">
      <div class = subtitle> Roster </div>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Height</th>
            <th scope="col">Weight</th>
          </tr>
        </thead>
        <tbody>
            {% for player in roster %}
          <tr class = 'clickable-row' data-href ="{% url 'player' player.0 %}">
            <td> {{ player.2 }} </td>
            <td> {{ player.3 }} </td>
            <td> {{ player.4 }} </td>
            <td> {{ player.5 }} </td>
            <td> {{ player.6 }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class = "col-4">
      <br><br><br>
      <center>
        <div class = subsubtitle> Full Team Name </div>
        <div class = information> {{ full_team_name }} </div>
      </center>
      <br>
      <center>
        <div class = subsubtitle> Head Coach </div>
        <div class = information> {{ head_coach }} </div>
      </center>
      <br>
      <center>
        <div class = subsubtitle> Roster Size </div>
        <div class = information> {{ roster_size }} </div>
      </center>
      <br> <br>
      <center>
      <form method = GET action = "{% url 'game_schedule' %}">
        <input type = hidden name = "team_selection" value = "{{ full_team_name }}">
        <button type = submit class = "link-button"> Full Game Schedule </button>
      </form>
      <table class="table table-hover table-sm table-bordered">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Home</th>
            <th scope="col">Home Points</th>
            <th scope="col">Visitor</th>
            <th scope="col">Visitor Points</th>
          </tr>
        </thead>
        <tbody>
            {% for game in past_games %}
          <tr>
            <td> {{ game.1 }} </td>
            <td> {{ game.2 }} </td>
            <td> {{ game.3 }} </td>
            <td> {{ game.4 }} </td>
            <td> {{ game.5 }} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      </center>
    </div>
  </div>
</div>

    <script>
      $(document).ready(function() { 
        $(".clickable-row").click(function() {
          window.location = $(this).data("href");
        });
      });
    
    </script>

{% endblock %}